<nav class="site-nav">
    <div class="left-bar">

        <img id="muzukanji-logo" ngSrc="../../assets/img/logo/logo-square-no-text.png" alt="Muzukanji Logo" height="1500"
             width="1500">

        <button mat-flat-button color="primary" >Home</button>
        <button mat-flat-button color="primary" >Documentation</button>
        <button mat-flat-button color="primary" >Try it!</button>

    </div>

    <div class="right-bar">

        <a href="https://github.com/baqterya/muzukanji">
            <button mat-icon-button>
                <img ngSrc="../../assets/img/github-mark-white.svg" alt="Github Icon" height="100" width="100">
            </button>
        </a>

    </div>

</nav>
