<div class="front-page-body">

    <h1>Welcome to MuzukanjiAPI!</h1>
    <br/><br/><br/>
    <h2>
        It's a free and open source Spring Boot API that stores over 13,000 Japanese kanji characters.
        You can use it to get information about kanji characters, such as their meanings, readings, and more.
        The details are listed in the API documentation accessible from the top menu or in the github repository.
        The application uses PostgreSQL database to store the data and is deployed in a Docker Container on Amazon AWS EC2.
    </h2>

</div>
